



{% extends 'index.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}

<section class="blog-article-page">
    <div class="blog-article-container flex-column flex-center">
        <h1>{{ post.title }}</h1>

        {% if post.image %}
            <img src="{{ url_for('static', filename='uploads/blog/' ~ post.image) }}" alt="post_image" class="blog_article_img;">
        {% endif %}

        <!-- pour sauter la securite html5 et voir le contenu correctement, sans les <p></p>  |safe  -->
        <p>{{ post.content | safe }}</p>

        {% if current_user.is_authenticated %}
            <div class="blog-article-actions">
                <a href="{{ url_for('blog.blog_edit', post_id=post.id) }}" class="btn">Edit article</a>

                <form method="POST" action="{{ url_for('blog.blog_delete', post_id=post.id) }}"
                      onsubmit="return confirm('Are you sure you want to delete this post?');">
                    <button class="btn btn-danger" type="submit">Delete article</button>
                </form>
            </div>
        {% endif %}

        <a href="{{ url_for('blog.blog') }}" class="btn">Back</a>
    </div>
</section>

{% endblock %}
