

{% extends 'index.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}


{% block content %}

    <section>
        <div class="hero">
            <img src="{{ url_for('static', filename='img/aboutme_alexmore.jpeg') }}" alt="photo_computer">
            <div class="container">
                <h1>Blog</h1>
            </div>
        </div>
    </section>



<section id="blog" class="blog_section">
    <div class="container">
        <div class="blog_container">

            {% if current_user.is_authenticated %}
            <div class="new_post flex-center">
                <a href="{{ url_for('blog.blog_new') }}" class="btn">+ New post</a>
            </div>
            {% endif %}

            {% for post in posts %}
                <div class="blog_card">

                    {% if post.image %}
                        <img src="{{ url_for('static', filename='uploads/blog/' ~ post.image) }}" alt="post_image">
                    {% endif %}

                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content[:100] | safe }}...</p>
                    
                    <a href="{{ url_for('blog.blog_article', post_id=post.id) }}" class="btn">
                        View more
                    </a>
                </div>

            {% else %}
                <p>There are not articles yet.</p>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
