


#cards h2 {
    display: none;
    text-align: center;
    color: aliceblue;
}

#cards p {
    display: block;
    font-size: 1.2em;
    background-color:black;
    border-radius: 8px;
    padding: 5px;
    color: aliceblue;
}

#map_container h2 {
    text-align: center;
}

#map_container iframe {
    width: 100%;
}

.form_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

form input,
form textarea {
    border: none;
    border-bottom: 2px solid;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 8px;
}

.form_container button {
    margin-top: 30px;
}


@media(min-width: 768px) {
       

    .hero-contact {
        background-image: linear-gradient(
            rgb(0,0,0,0.1),
            rgb(0,0,0,1)
            ) ,url("../img/devs_hablando.jpeg");
    }


   

    #map_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: rgb(215, 233, 152);
        padding: 50px;
    }

    #map_container iframe {
        width: 600px;
        height: 600px;
    }

    #map_container h2 {
        display: none;
    }
}