



.about_content {
    max-width: 800px;
    margin-top: 50px;
}

.about_text a {
    margin-top: 40px;
}

.form-group {
    margin: 50px;
    
}

.form-actions {
    gap: 2rem;
    margin: 40px;
}



@media(min-width: 768px) {

    .about img{
        width: 600px;
        height: auto;
        margin-top: 50px;
    }

}