
/* definimos la paleta de colores
:root {

} */




* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    margin: 0px;
    line-height: 1.6;
}

h1 {font-size: 3.5em;}
h2 {font-size: 2.7em;}
h3 {font-size: 2em;}
h4 {font-size: 1.5em;}
p {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1.2em;}





.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}


button.btn {
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    z-index: 2;
}


.btn {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgb(0,0,0);
    color: white;
    background-color: rgb(116, 1, 178);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: rgb(175, 0, 67);
}

.btn-danger {
    background-color: rgba(255, 0, 0, 0.692);
}

.btn-danger:hover {
    color: rgb(116, 1, 178);
}







.login-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f8;
}

.login-card {
    width: 100%;
    max-width: 380px;
    padding: 2rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.input {
    padding: 10px 12px;
    font-size: 1em;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0,0.2);
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.input:focus {
    border-color: rgb(116, 1, 178);
}







header {
    background-color: beige;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

header img {
    width: 50px;
}

.header-login {
    margin-bottom: 50px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black
}







.hero-home {
    background-color: black;
    color: white;
}

/* 
.hero-home img {
    display: none;
}
 */


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

/* .hero img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
} */

.hero .container {
    text-align: center;
    background-color: transparent;
    color: black; 
    margin-top: 20px;
}

.hero img {
    display: none;
}



.banner, 
.banner a, 
.banner address {
    background-color: black;
    color: white;
    padding: 3px;
}

.banner p {
    background-color: blue;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
}








.cards h2 {
    padding:20px;
    text-align: center;
    color: black;
}

.cards .container > div {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    color: white;

}

.cards .container > div::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
    pointer-events: none;
}

.cards h3,
.cards h4,
.cards p,
.cards a { 
    text-align: center;
    padding: 5px;
    position: relative;
    z-index: 1;
}

.cards .container {
    display: grid;
    text-align: center;
    margin-top: 20px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}







.card_desing{
    background-image: url("../img/home_cards_1.jpeg");
}

.card_develope {
    background-image: url("../img/home_cards_2.jpeg");;
}

.card_modelling {
    background-image: url("../img/home_cards_3.jpeg");
}

.card_marketing {
    background-image: url("../img/home_cards_4.jpeg");
}




.card_return {
    background-image: url("../img/Branding-design.jpg");
}

.card_result {
    background-image: url("../img/website-development.png");;
}

.card_usability {
    background-image: url("../img/illustration_modeling.jpeg");
}



.card_contact {
    background-image: url("../img/image_cards_contact.jpeg");
}







.services .container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(232, 255, 127);
}

.services img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
 }

.services p {
    margin-top: 60px;
    margin-bottom: 70px;
}

.services .services_list {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.5em;
}







.scroll_container {
    overflow: auto;   
    background-color: #333;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 100px;
}

.scroll_container img {
    padding: 5px;
    width: 250px;
    height: 250px;
}

#img_scroll h2 {
    text-align: center;
}







.events {
    margin: 30px;
}


#lets_create {
    padding: 20px;
    background-color: greenyellow;
    text-align: center;
}






#footer {
    background-color:rgb(255, 253, 250);
}

#footer form input {
    text-align: center;
    font-size: 1.3em;
    border-radius: 8px;
}

#footer nav a {
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-weight: bold;
}

#footer .container small {
    display: block;
    padding: 50px;
}

#footer small {
        display: block;
        grid-column: 1 / -1;
        text-align: center;
        margin-top: 80px;
    }






@media (min-width: 768px) and (max-width: 1023px) {

    h1 { font-size: 3em; }
    h2 { font-size: 2.4em; }
    h3 { font-size: 1.8em; }
    p  { font-size: 1.15em; }

    body {
        background-color: beige;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        gap: 10px;
    }

    .hero {
        height: auto;
        padding: 60px 0;
        background-size: cover;
        background-position: center;
    }

    .hero .container {
        width: 70%;
        margin: auto;
        text-align: center;
    }

    #cards .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 40px;
        gap: 20px;
    }

    #cards p {
        display: block;
    }

    .services .container {
        flex-direction: column;
        text-align: center;
    }

    .services img {
        width: 70%;
        margin: auto;
    }

    .scroll_container img {
        width: 300px;
        height: 250px;
    }

    #cards_articles .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
    }

    #footer .container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

}







@media(min-width: 1024px) {

    h1 { font-size: 4em; }
    h2 { font-size: 3em; }
    h3 { font-size: 2.4em; }
    p  { font-size: 2em; }


    header {
        position: sticky;
        top: 0;
        z-index: 2;
        line-height: 1.2;
    }

    header .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        max-height: 64px;
    }

    header nav {
        flex-direction: row;
        padding: 0px;
        margin: 0px;
    } 

    header img {
        width: 60px;
    }

    .header-login {
        margin-bottom: 0px;
    }

    header .search {
        margin-right: 20px;
        margin-bottom: 0px;
    }





    .hero-home img {
        display: block;
        width: 500px;
    }

    .hero-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
        color:rgb(248, 248, 248);
        background-color:black;
        background-image: linear-gradient(
            rgb(0,0,0,0.1),
            rgb(0,0,0,1)
            ) ,url("../img/home_hero_camera.jpeg");
        background-repeat: no-repeat;
        background-size: 75%;
        background-position: right;
    }

    .hero-home .container {
        background-color:transparent;
        text-align:left;
        width: 40%;
        margin-left: 100px;
    }

    .hero-home a {
        margin: 20px;
        margin-top: 50px;
    }




    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        background-image: linear-gradient(
            rgb(0,0,0,0.1),
            rgb(0,0,0,1)
            ) ,url("../img/aboutme_camera.jpeg");
        background-position: center;
        background-size: cover;
    }

    .hero .container {
        background-color: transparent;
        margin: 0 auto;
        font-size: 2rem;
        color: aliceblue;
    }

    .hero img {
        display: none;
    }






    .banner address {
        display: flex;
        justify-content: center;
        gap: 100px;
        font-size: 1.3em;
    }

    .banner p {
        padding: 30px;
        font-size: 2em;
        margin-bottom: 0px;
    }







    .cards h2 {
        margin-top: 150px;
        margin-bottom: 0px;
    }
    
    .cards-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-3 {
        grid-template-columns: repeat(3, 1fr);
    }







    .services .container {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .services .container_del_container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .services img {
        width: 50%;
    }

    .services h2, 
    .services p {
        text-align: left;
    }





    .scroll_container img {
        padding: 20px;
        width: 400px;
        height: 300px;
        border-radius: 50px;
    }    





    .events .container hr {
        width: 60%;
    }
    






    #lets_create .container {
        padding: 100px;
    }

    #lets_create .container p {
        padding: 40px;
    }





    #footer .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 6rem;
    }   

    #footer .container_left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #footer .container_right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        gap: 1rem;
    }

    #footer small {
        display: block;
        grid-column: 1 / -1;
        text-align: center;
        margin-top: 80px;
    }

}