
{% extends 'index.html' %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}


{% block content %}

    <section>
        <div class="hero_portfolio">
            <img src="{{ url_for('static', filename='img/photo_devweb.jpg') }}" alt="photo_computer">
            <div class="container">
                <h2>Portfolio</h2>
            </div>
        </div>
    </section>

    <section id="cards_portfolio">
        <div class="container">

            <div class="card_decentralized">
                <a href="{{ url_for('portfolio.projet_1') }}">
                    <img src="{{ url_for('static', filename='img/photo_ordi.jpg') }}" alt="Branding-design">
                    <h3>Educational Platform</h3>
                    <h4>Branding/ Developement/ Marketing</h4>
                </a>
            </div>

            <div class="card_appbusiness">
                <a href="{{ url_for('portfolio.projet_1') }}">
                    <img src="{{ url_for('static', filename='img/devs_hablando.jpeg') }}" alt="devs_hablando">
                    <h3>Educational Platform</h3>
                    <h4>Branding/ Developement/ Marketing</h4>
                </a>
            </div>

            <div class="card_website">
                <a href="{{ url_for('portfolio.projet_1') }}">
                    <img src="{{ url_for('static', filename='img/digital_marketing.jpeg') }}" alt="digital_marketing">
                    <h3>Educational Platform</h3>
                    <h4>Branding/ Developement/ Marketing</h4>
                </a>
            </div>

            <div class="card_novascotia">
                <a href="{{ url_for('portfolio.projet_1') }}">
                    <img src="{{ url_for('static', filename='img/illustration_modeling.jpeg') }}" alt="illustration_modeling">
                    <h3>Educational Platform</h3>
                    <h4>Branding/ Developement/ Marketing</h4>
                </a>
            </div>

        </div>
    </section>
    
{% endblock %}