


{% extends 'index.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}


{% block content %}

<section class="form-page">
    <div class="form-card">
        <h2>Add new project</h2>

        <form method="POST" enctype="multipart/form-data" class="form">
            
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="description">Project content / link</label>
                <textarea id="description" name="description" rows="6" required></textarea>
            </div>

            <div class="form-group">
                <label for="image">Select image</label>
                <input type="file" id="image" name="image">
            </div>

            <button type="submit" class="btn">Add project</button>
        </form>
    </div>
</section>

{% endblock %}
