

<footer id="footer">
    <div class="container">
        <div class="container_left">
            <h3>
                Get valuable strategy, culture and brand insights straight to your inbox
            </h3>

            <h4>Contact</h4>
            <address>
                27 Division St, New York,<br>
                NY 10002, Usa<br>
                <br>
                +1800123654987<br>
                <a href="mailto:987frisk.agency@mail.com">987frisk.agency@mail.com</a>
            </address>
        </div>

        <div class="container_right">
            <h4>Links</h4>
            <nav>
                <a href="{{ url_for('pages.pages') }}">About</a>
                <a href="{{ url_for('portfolio.portfolio') }}">Portfolio</a>
                <a href="{{ url_for('pages.pages') }}">Services</a>
                <a href="{{ url_for('blog.blog') }}">Testimonials</a>
                <a href="{{ url_for('contact.contact') }}">Careers</a>
            </nav>
        </div> 

    </div>

    <small>
        Copyright C 2026 - 
        <a href="mailto:manelocana.dev@gmail.com">manelocana.dev@gmail.com</a>
    </small>
    
</footer>

