
{% extends 'index.html' %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
{% endblock %}


{% block content %}

    <section class="hero">
        <img src="{{ url_for('static', filename='img/aboutme_camera.jpeg') }}" alt="contact image">
        <div class="container">
            <h1>About me</h1>
        </div>
    </section>


    <section class="about">
    <div class="container flex-center">        
        <div class="about_content">
            <div class="about_image text-center">
                <img src="{{ url_for('static', filename='img/pages_devweb.jpg') }}" alt="Professional Photographer">
            </div>

            <div class="about_text text-center">
                {% if about and about.content %}
                    {{ about.content | safe }}
                {% else %}
                    <p>About empty</p>
                {% endif %}

                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('pages.edit_about') }}" class="btn">
                        {% if about and about.content %} Edit About {% else %} Add About {% endif %}
                    </a>
                {% endif %}

                <br>
                <a href="{{ url_for('portfolio.portfolio') }}" class="btn">View My Projects</a>
            </div>

        </div>
    </div>
    </section>


    <section class="cards">
        <h2>WHAT WE CAN DO FOR OUR CLIENTS</h2>
        <div class="container cards-2">
            <div class="card card_desing">
                <h3>Branding Desing</h3>
                <p>branding desing</p>
                <a href="{{ url_for('pages.branding') }}" class="btn">VIEW DETAILS</a>

            </div>
            <div class="card card_develope">
                <h3>AlbumPhoto Developement</h3>
                <p>Websitedevelopee</p>
                <a href="{{ url_for('pages.branding') }}" class="btn">VIEW DETAILS</a>
            </div>
            <div class="card card_modelling">
                <h3>Illustration Modelling</h3>
                <p>modelo de ilustracion</p>
                <a href="{{ url_for('pages.branding') }}" class="btn">VIEW DETAILS</a>
            </div>
            <div class="card card_marketing">
                <h3>Digital Marketing</h3>
                <p>digital marketing</p>
                <a href="{{ url_for('pages.branding') }}" class="btn">VIEW DETAILS</a>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <img src="{{ url_for('static', filename='img/devs_hablando.jpeg') }}" alt="services">
            <div class="container_del_container">
                <h2>WE OFFER A WIDE RANGE OF BRAND SERVICES</h2>
                <h3>Passionate About Creating Quality Desing</h3>
                <p>We are a creative agency working with brands building insighful strategy, creating unique desings and crafting value</p>
                <p class="services_list">
                    branding<br>
                    developpement<br>
                    advertising<br>
                    marketing
                </p>
            </div>
        </div>
    </section>

    

{% endblock %}


    
